<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BONANZA Burgers</title>
    <meta charset="utf-8"/>

  </head>
  <body>
    <header>
      <h1>Welcome to BONANZA Burgers</h1>
    </header>
    <main>
      <section>
        <h2>Choose your burger</h2>
        <p>This is where you may choose which burger to order</p>
        <h3>The Way too much</h3>
        <img src= "https://cdn-image.foodandwine.com/sites/default/files/whole-hog-burger-fwx.jpg" alt="Burger" title="Way too much" width="300">
      </section>
      <section>
        <h2>Customer information</h2>
        <p>This is where you enter your personal information</p>
      </section>
    </main>
    <footer>
      <hr> <p >Property of the VLCNR holding group</p>
    </footer>
  </body>
</html>
