@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

section {
  margin: 0px 15px;
}

body {
  font-family: arial;
  font-size: 110%;
  margin: 0 auto;
}

#picture {
  opacity: 0.8;
  height: 400pt;
  width: 100%;
}

.title {
  margin: 0px 15px;
}

.Allergy {
    font-weight: bold;
}

#Burgers {
  border: 10px dashed white;
  background-color: black;
  color: white;
}

#contact {
  border: 10px dashed black;
}

button {
  margin: 5px 0px 0px 0px;
}

button:hover {
  background-color: deepSkyBlue;
  cursor: pointer;
}

table {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
